
.search-button {
  height: 100px;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: white;
  background: rgba(255, 255, 255, 0.46);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.77);
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-expand-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
  min-width: 0;
}

.search-expand-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.profile-button {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
  background: rgba(255, 255, 255, 0.46);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.77);
  display: flex;
  align-items: center;
  gap: 15px;
}