.expanded-detail-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  background: rgba(255, 248, 237, 0.8);
  border-radius: 23px;
  border: 1px solid rgba(185, 170, 152, 0.8);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  padding: 30px;
  gap: 5px;

  margin-top: 20px;
  margin-left: 20px;
}

.info-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: auto;
}

.info-section img{
  height: 200px;
  width: calc(200px * 5 / 7);
  aspect-ratio: 5 / 7;
  object-fit: cover;
}

.info-section h1{
  font-size: 40px;
  color: #422D13;
}

.info-section p {
  font-size: 20px;
  letter-spacing: -0.1em;
  margin-top: -7px;
}

.expanded-detail-card .star {
  height: 1.7em;
  width: 1.8em;
  margin-bottom: 5px;
}

hr {
  border: none;
  border-top: .5px solid #BEB3A2;
}

.description {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  color: #422D13;
  margin-top: 10px;

  nav-down: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(7 * 1.5em);
  line-height: 1.5em;
  scrollbar-width: 2px;
}

.description::-webkit-scrollbar {
  display: none;
}