.search-bar {
  width: 40vw;
  height: 50px;
  border: 2px solid rgba(79, 54, 24, 0.4);
  z-index: 11;
  background-color: rgba(255, 248, 237, 0.8);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);


}
.search-input {
  all: unset;
  font-family: 'Courier Prime', monospace;
  color: #847058 !important;
  -webkit-text-fill-color: #847058;
  flex: 1;
  min-width: 0;
  text-align: left;
  line-height: 40px;
  margin-top: 5px;
}

.profile-button {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
  background: rgba(255, 255, 255, 0.46);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(79, 54, 24, 0.4);
  display: flex;
  align-items: center;
}

.search-results-box {
  margin-top: 20px;
  margin-left: 20px;
  width: 40vw;
  height: fit-content;
  background: rgba(255, 248, 237, 0.8);
  border-radius: 23px;
  border: 1px solid rgba(185, 170, 152, 0.8);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));

  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.search-result-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 10px 0;
  align-items: center;
}

.search-result-cover {
  height: 60px;
  width: calc(60px * 5 / 7);
  aspect-ratio: 5 / 7;
  object-fit: cover;

}

.search-result-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.search-result-info h1 {
  font-size: 1.8rem;
  color: #422D13;
}

.search-result-info p {
  color: #847058;
  letter-spacing: -0.05em;
  font-size: 1.1rem;
}