.footer-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  box-sizing: border-box;
  gap: 15px;
  width: fit-content;
}