.book-carousel {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow-x: auto;
}

.book-cover {
  height: 300px;
  width: calc(300px * 5 / 7);
  aspect-ratio: 5 / 7;
  object-fit: cover;
}

.section-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.section-title {
  font-size: 40px;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 50px;
}

.header h1 {
  font-size: 70px;
  color: #422D13;
}

.header-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.profile-image {
  height: 65px;
  border-radius: 50%;
  width: 65px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(79, 54, 24, 0.4);
}