.search-input {
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.46);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.77);
  padding: 30px;
  color: white;
  border-radius: 100px;
  font-size: 1.5rem;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-button {

  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background: red;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
}