:root {
  width: 100%;
  height: 100%;
  font-family: 'inter', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(86, 51, 51);
}

h1 {
  font-family: 'IM Fell English', serif;
  margin: 0;
}