:root {
  width: 100%;
  height: 100%;
  font-family: 'inter', sans-serif;
  background: black;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}